.list-container {
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr); /* Two items per row */
    gap: 20px; /* Space between items */
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    border-radius: 8px;
  }
  
  .list-item {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #ddd;
    background-color: #297BBA;
  }
  